DEBUG = True
SECRET_KEY = '55v(mgb&!_5%jk@4t&vuxzdb13cnwew7e19lz!3ul-yk6xy(0l'
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost:5432/testdb
#Configurações do AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
INTERNAL_IPS =127.0.0.1